body {
  padding: 0;
  margin: 0;
}


/* src/styles/custom-navbar.css */

.custom-navbar {
  background-color: #0b5ed7;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-navbar-logo {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
}

.custom-navbar-custom-nav {
  list-style: none;
  display: flex;
}

.custom-nav-item {
  margin-right: 20px;
}

.custom-nav-link {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.custom-nav-link:hover {
  color: #ffd700;
}


/* src/styles/live.css */

.live-page {
  padding: 20px;
}

.replay-page {
  padding: 20px;
}

.video-player {
  width: fit-content;
  height: fit-content;
}

.comment-section {
  width: 40%;
}

.comment-section h2 {
  margin-bottom: 10px;
}

.comment-section ul {
  list-style: none;
  padding: 0;
}

.comment-section button {
  margin-bottom: 10px;
}

.comment-form {
  display: flex;
}

.custom-container {
  display: flex;
  justify-content: space-evenly;
}

.list-group {
  margin-bottom: 10px;
  height: 250px;
  overflow-y: auto scroll;
  overflow-x: hidden;

}

.list-group li:nth-child(1) {
  background-color: #0b5ed7;
  color: white;
}

button {
  width: 150px;
  height: 55px;
}

footer {
  background-color: #0b5ed7;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  margin: 0;
}